html {
  text-size-adjust: auto;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #ADD8E6;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0,);
  background-color: #ADD8E6;
}

#nav-container {
  border-style: solid;
  height: 50px;
  align-items: center;
  background-color: white;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav a {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: black;
  font-size: large;
  font-weight: 500;
}

.btnlogin {
  width: 130;
  height: 40px;
  background: transparent;
  border: 2px solid #000;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #000;
  font-weight: 500;
  transition: .5s;

}

.btnlogin:hover {
  background: #C1E1C1;
  color: white;
  border: 2px solid #C1E1C1;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper .form-box-login {
  transform: translateX(0);
}

.wrapper.active .form-box-login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper.active .form-box-register {
  transition: none;
  transform: translateX(0);
}

.wrapper .form-box-register {
  position: absolute;
  transition: none;
  transform:translateX(400px);
}

.btntologin {
  width: 100%;
  height: 45px;
  background:#C1E1C1;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}
.input-box {
  padding-bottom: 10px;
}

.login-register {
  font-size: .9em;
  text-align: center;
  font-weight: 500;
}

.login-register p a {
  color: darkgreen;
  text-decoration: none;
  font-weight: 600; 
}

.login-register p a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.column {
  flex: 1;
  margin: 30px;
}

#logo-img {
  width: 100px;
  border-radius: 50px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#profile-img {
  margin-left: 30px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  float: left;
  margin-right: 40px;
  border-style: solid;
}

#about-section {
  padding: 25px;
  border-radius: 10px;
  border-style: solid;
  background-color: white;
}

#search-form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#search {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

#search-form button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #0056b3;
}

#footer {
  background-color: white;
  padding: 75px;
  text-align: center;
}

#footer-box {
  border-style: solid;
}