@import url(../css/clash-display.css);

:root {
  --c-dark: #212529;
  --c-brand: #4e57d4;
  --c-brand-light: #6970dd;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #727272;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1, .h1, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.navbar{
  box-shadow: var(--box-shadow);
  padding: 0;
}

.navbar-logo{
  max-height: 100px;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar-nav .nav-link.active {
  color:var(--c-brand);
}

.btn {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: white;
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color:white;
}

#hero {
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.team-member {
  position: relative;
}

.team-member-content{
  background-color: var(--c-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100%-50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

#contact {
  position: relative;
  z-index: 2;
}

#contact::after{
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus{
  box-shadow: none;
  border-color: var(--c-brand);
}

#team {
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

#about {
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

#catalog {
  background-color: #3f9c28;
  background-position: center;
  background-size: cover;
}

#FAQ {
  background-color: #284c9c;
  background-position: center;
  background-size: cover;
}

#reviews{
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.question{
  color: black;
}

hr {
  background-color: white;
  height: 1px;
  border: 0;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  width: calc(33% - 40px);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: var(--transition);
  font-family: var(--font-base);
  color: var(--c-body);
}

.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
  height: auto;
}

.product-card h2 {
  font-size: 1.25rem;
  margin: 15px 0;
  color: var(--c-dark);
  font-weight: 600;
}

.product-card p {
  font-size: 1rem;
  margin: 10px 0;
  color: var(--c-body);
}

.product-card .price {
  font-size: 1.25rem;
  color: var(--c-brand);
  font-weight: bold;
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 40px); /* Two cards per row on tablets */
  }
}

@media (max-width: 576px) {
  .product-card {
    width: 100%; /* One card per row on mobile */
  }
}
